.container {
	display: flex;
}

.options__sidebar {
	width: 5%;
}

.main__sidebar{
	width: 20%;
}


.main__container {
	background-color: #f2f2f2;
	width: 65%;
}

.members__sidebar {
	width: 17.5%;
}
